body	{font-family: Verdana; }
p		{color: maroon; 
		font-size: 16px; }
		body {background-color: #e5e2cd; }
h1	{color: rgb(171, 87, 28); /* Orange */ }
h1		{font-size: 24px;}
h2		{font-size: 20px; } 



